<%= form_for @article do |blog| %>
    <% if @article.errors.any? %>
      <div class="alert">
        <%= pluralize(@article.errors.count, "error") %> Entry could not be saved.
        <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br>

  <table>
    <tr>
      <th>
        <%= blog.label :title %>
      </th>
      <td>
        <%= blog.text_field :title, size: "70" %>
      </td>
    </tr>
    <tr>
      <th>
        <%= blog.label :content %>
      </th>
      <td>
        <%= blog.text_area(:content, size: "50x15") %>
      </td>
    </tr>
    <tr>
      <th>
      </th>
      <td>
        <%= blog.submit "Save changes" %><br>
      </td>
    </tr>

  </table>
<% end %>
