<header>Post it</header>

<strong>Title:</strong>
<%= @article.title %><br>

<strong>Content:</strong>
<%= @article.content %><br>

<h3>Comments</h3>
<%= render @article.comments %>

Add comment:
<%= render "comments/form" %><br>

<%= link_to "Edit entry", edit_article_path %><br>
<%= link_to "Return to home", articles_path %>

